// Variables
$primary: #3daaa3;

// Base
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: $primary;
  color: white;
}

button {
  padding: 0;
  border: none;
  display: inline-block;
}

a {
  color: inherit;
}

// Theme
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &__inner {
    padding: 50px;
  }
}

.heading {
  margin: 0;

  &--main {
    font-family: 'Carter One', cursive;
    font-size: 3em;
  }
}

.nav {
  margin: 1em 0;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0.5em 0.25em;
    }

    a {
      display: block;
      text-decoration: none;
      color: white;
      padding: 0.5em 1em;
      border: 2px solid white;
      border-radius: 4px;
      font-weight: bold;

      &.active {
        color: $primary;
        background-color: white;
      }
    }
  }
}

.team {
  background-color: white;
  color: $primary;
  border-radius: 10px;

  &__item {
    padding: 3em;
    display: none;

    &.active {
      display: block;
    }
  }

  &__count {
    margin: 0;
  }

  &__button {
    margin: 1em 0;
  }

}
